brink_dataset/
data_for_LP/
NBFNet_weight/
# results/
*.zip
*.ipynb
*.sample
.env
NBFNet_PyG/experiments/*
*.pyc
__pycache__/
test
**/__pycache__/
corrupt_queries/
.vscode/
/LOCAL_SCORING_PLAN.md
one_shot_subgraph/results